@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins',sans-serif;
    
}

.hmp_content
{
    color: white;
    word-wrap: break-word;
    max-width: 840px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}
.hmp_content .intro p
{
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 1em;
    word-spacing: 2.5px;
    line-height: 2em;
}
.hmp_content .techs h3
{
    font-size: 1.2em;
}
.hmp_content .techs p
{
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 1em;
    word-spacing: 2.5px;
    line-height: 2em;
}
.about
{
    color: white;
    word-wrap: break-word;
    max-width: 840px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.about h3
{
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
}
.about p
{
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 1em;
    word-spacing: 2.5px;
    line-height: 2em; 
}

/*CARD1*/
.gcardcontainer{
    margin-top: 120px;
    max-width: 840px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -1;
}
.gcardbody{
    padding: 20px 0;
    margin: 0 16px;
    position: relative;
    width:100%;
    height: 100%;
    box-shadow: 25px 25px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.4);
    backdrop-filter: blur(15px);
    overflow: hidden;
}
.glow{
    color: #000000;
    margin: 2px;
}