@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins',sans-serif;
}
.bc2{
    max-width: 840px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.headingbc2{
    color: #ffffff;
    padding: 10px 0;
    margin: 0 16px;
}
.parabc2{
    color: #ffffff;
    margin: 0 16px;
    
}
.bcp{
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 1em;
    word-spacing: 2.5px;
    line-height: 2em;
    letter-spacing: 0.4px;
}
.bc2pic2{
    float: left;
    padding: 10px;
    width: 250px;
    height: 250px;
}
body{
    background: #353541;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

