*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #353541;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.cav{
    display:flex;
    justify-content: center;
    align-items:center;
    min-height:  100vh;
}
ol{
   position: absolute;
   background-color: #5a5a63c2;
   display:flexbox;
   padding: 10px 20px;
   border-radius: 50px;
   box-shadow: 0 5px 15px #3586ff;
}
ol li{
   list-style: none;
}
ol li.pagenumber
{
   width:50px;
   height:50px;
   line-height:50px;
   text-align:center;
}
ol li a{
   display: block;
   text-decoration: none;
   color: #f2f4f7;
   font-weight: 600;
   border-radius: 50%;
}
ol li.pagenumber:hover a,
ol li.pagenumber.active a
{
   background: #3586ff;
   color: #fff;
}
ol li:first-child{
   margin-right: 30px;
   font-weight: 700;
   font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    color: #1a75ff;
    font-weight: 700;
    letter-spacing: 0.5px;
}
ul,li{
    list-style-type:none;
}
.nav_bar{
    margin: 10px auto;
    padding:10px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    border:1px solid  rgba(255,255,255,0.2);
    border-radius: 5px;
    
}
.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    flex-wrap: wrap;
}
.nav_item{
    position:relative;
}
.nav_item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(-135deg,#1a75ff,#3586ff );
    border-radius: 5px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s;
}
.nav_item:hover::before{
    opacity: 1;
}




.dot{

position: absolute;
right:-18px;
top: 50%;
transform: translateY(-50%);
height: 10px;
width: 10px;

}
.dot:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
    border:2px solid  rgba(255,255,255,0.2);
    z-index: 3;
    
}
.dot:after{
    position: absolute;
    content: '';
    left: 0%;
    top: 0%;
    width:100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    background: linear-gradient(-135deg,#66a3ff,#3586ff );
    transition: opacity 0.4s;
}

.nav_items:hover .dot:after{
   opacity:1;
}
.nav_link{
    position:relative;
    z-index: 3;
    display: block;
    padding: 10px 20px;
    background: rgba(255,255,255,0.2);
    border:2px solid  rgba(255,255,255,0.2);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.subnav_items{
    padding-top: 10px;
    position: absolute;
    width: 250px;
    opacity: 0;
    
    z-index: 999;
    visibility: hidden;
    transition: opacity 0.4s;
    
}

.nav_sub_nav:hover .subnav_items{
    opacity: 1;
    visibility: visible;
   
}
.sample{
    background: linear-gradient(-135deg,#66a3ff,#3586ff );
    border:2px solid  rgba(255,255,255,0.2);
    border-radius: 4px;
}
.subnav_item{
    cursor: pointer;
    position: relative;
}
.subnav_item:before{
  content:'';
  position:absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(-135deg,#3586ff,#3586ff );
  border-bottom:1px solid  #3586ff ;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.4s;
}
.subnav_item:hover:before{
    opacity: 1;
}


.sub_item_link{
    position: relative;
    padding: 10px 20px;
    z-index: 3;
    display: block;
    cursor:pointer;
}


/*CARD1*/
.gcardcontainer{
    margin-top: 30px;
    max-width: 840px;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: -1;
}
.gcardbody{
    padding: 20px 0;
    margin: 0 16px;
    position: relative;
    width:100%;
    height: 100%;
    box-shadow: 25px 25px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.4);
    backdrop-filter: blur(15px);
    overflow: hidden;
}
span{
    font-weight: bolder;
}

.PIC1{
    width: 640px;
    height: 450px;
    margin-left: 14%;
}
.PIC2{
    width: 640px;
    height: 450px;
    margin-left: 14%;
    border: 1px solid #ffffff;
    box-shadow: 25px 25px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.2);
    border:2px solid  rgba(255,255,255,0.2);
}
.gcardcontainer .gcardbody h2{
    color: #ffffff;
    margin-bottom: 5px;

}
.centre{
    display: block;
    margin-left: 36%;
}
.logo{
    color: #1a75ff;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.gcardcontainer .gcardbody p{
    color: #ffffff;
    margin: 0 16px;
    font-weight: 400;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 1em;
    word-spacing: 2.5px;
    line-height: 2em;
    letter-spacing: 0.7px;

}

body::before{
    content: '';
    position: fixed;
    top: 0%;
    left: 0%;
    width:100%;
    height:100%;
    background-color: #1a75ff;
    clip-path: circle(128px at 17% 30%);
    z-index: -1;
}

::selection{
    background-color: black;
}
.anytimeglow{
    visibility: visible;
    background: linear-gradient(-135deg,#1a75ff,#3586ff );
    border-radius: 5px;
}