*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #353541;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    color: #1a75ff;
    font-weight: 700;
    letter-spacing: 0.5px;
}
ul,li{
    list-style-type:none;
}
.nav_bar{
    margin: 10px auto;
    padding:10px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    border:1px solid  rgba(255,255,255,0.2);
    border-radius: 5px;
    
}
.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    flex-wrap: wrap;
}
.nav_item{
    position:relative;
}
.nav_item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(-135deg,#1a75ff,#3586ff );
    border-radius: 5px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s;
}
.nav_item:hover::before{
    opacity: 1;
}




.dot{

position: absolute;
right:-18px;
top: 50%;
transform: translateY(-50%);
height: 10px;
width: 10px;

}
.dot:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
    border:2px solid  rgba(255,255,255,0.2);
    z-index: 3;
    
}
.dot:after{
    position: absolute;
    content: '';
    left: 0%;
    top: 0%;
    width:100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    background: linear-gradient(-135deg,#66a3ff,#3586ff );
    transition: opacity 0.4s;
}

.nav_items:hover .dot:after{
   opacity:1;
}
.nav_link{
    position:relative;
    z-index: 3;
    display: block;
    padding: 10px 20px;
    background: rgba(255,255,255,0.2);
    border:2px solid  rgba(255,255,255,0.2);
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}
.subnav_items{
    padding-top: 10px;
    position: absolute;
    width: 250px;
    opacity: 0;
    
    z-index: 999;
    visibility: hidden;
    transition: opacity 0.4s;
    
}

.nav_sub_nav:hover .subnav_items{
    opacity: 1;
    visibility: visible;
   
}
.sample{
    background: linear-gradient(-135deg,#66a3ff,#3586ff );
    border:2px solid  rgba(255,255,255,0.2);
    border-radius: 4px;
}
.subnav_item{
    cursor: pointer;
    position: relative;
}
.subnav_item:before{
  content:'';
  position:absolute;
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(-135deg,#3586ff,#3586ff );
  border-bottom:1px solid  #3586ff ;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.4s;
}
.subnav_item:hover:before{
    opacity: 1;
}


.sub_item_link{
    position: relative;
    padding: 10px 20px;
    z-index: 3;
    display: block;
    cursor:pointer;
}
.logo{
    color: #1a75ff;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.anytimeglow{
    visibility: visible;
    background: linear-gradient(-135deg,#1a75ff,#3586ff );
    border-radius: 5px;
}
.bcaudio_body{
    text-align: center;
    margin: 50px auto;
 
 }
::selection{
    background-color: black;
}