*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rcard_body_body{
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    display: block;         
}
.rcard_body{
    word-wrap: break-word;
    position: relative;
    top: 50%;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    justify-content: center;
    margin: 0 16px;
    color: rgb(7, 106, 193);
}
.rcard_body p{
    position: absolute;
    word-wrap: break-word;
    font-weight: 400;
    border-left:2.9px solid  green;
    padding-left: 20px;
    background-color: rgba(127,127,127,.125);
    margin: 0 0 1em;
    letter-spacing: 0.4px;
    word-spacing: 2.5px;
    line-height: 2em;
    display: inline-block;
}
